<html>
<head>
    <title>Nx Watch Service</title>
    <style>
        .table
        {
            padding: 0px;
            padding-left: 32px;
            display: table;
            clear: both;
            width: 90%;
            margin: 0px;
            margin-bottom: 50px;
        }
        .table-left
        {
            float: left;
            width: 25%;
        }
        .table-right {
            float: left;
            width: 75%;
        }
    </style>
</head>
<body style="background-color:#000;color:#AAA;font-family:Consolas;font-size:12pt">
    <div>
        <p style="margin:auto;text-align:center;margin-bottom:50px;font-weight:bold;font-size:18pt">
            +--------------------------------+<br />
            |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nx Watch Service&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br />
            +--------------------------------+
        </p>
        ###CONTENT###
    </div>
</body>
</html>